@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.right-section::-webkit-scrollbar {
  /*width: 10px;*/
  width: 2px; 
}

.right-section::-webkit-scrollbar-track {
  background-color: transparent;

  /*background-color: aqua;*/
}

.right-section::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 1rem
}


