# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/__pycache__
/client/node_modules
/Chorma_DB
/db
/__pycache__
# testing
/coverage
/vector
/venv
# production
/requirements.txt
/server/chroma_db_demuc
.env